$header-text-color: rgb(255, 255, 255);

.header{
  background-color: rgb(25, 25, 25);
  position: relative;
  font-family: $headers-font-bold;
  &__content{
    padding: 10px 0 0 0;
    display: flex;
    &-item {
      width: 50%;
      &:first-child {
        width: 40%;
        text-align: center;
        margin-right: 15%;
      }
      img {
        width: 440px;
        height: 580px;
      }
    }
    .btn {
      margin: 20px 0 0 0;
      font-family: $headers-font-regular;
      padding: 14px 60px!important;
      font-size: 26px;
      border-radius: 15px;
      background-color: rgb(32, 203, 111);
      width: 96%;
    }
    .title-h2 {
      margin-bottom: 40px;
      font-family: $headers-font-regular;
      font-weight: 500;
      font-size: 24px;
      span {
        color: #21cf73;
        font-family: $headers-font-regular;
        font-size: 27px;
      }
    }
    &-title{
      font-size: 22px;
      text-transform: uppercase;
      color: #21cf73;
      margin-top: -20px;
      margin-bottom: -20px;
      span{
        color: rgb(33, 207, 115);
        font-size: 56px;
      }
    }
    &-text {
      font-size: 22px;
      font-family: $primary-font;
      margin-bottom: 20px;
      font-style: italic;
    }
    &-confirm {
      font-size: 18px;
      font-family: $primary-font;
    }
    &-form {
      width: 500px;
    }
  }
}


.content{
  &--background{
    /*background-color: rgba(0, 0, 0, 0.860784);*/
  }
}

.header-content-background{
  background-image: url("../images/fon-first-min.png");
  background-repeat: no-repeat;
  color: $header-text-color;
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn__header {
  background-color: transparent!important;
  &:hover {
    background-color: #4db45d!important;
    color: #fff!important;
  }
}

