.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0;
  .btn {
    font-family: $primary-font;
  }
  &__logo {
    transition: all 0.3s ease-in-out;
    flex: 1 15%;
    img{
      width: 200px;
      height: 61px;
    }
    &:hover{
      transform: scale(1.05);
    }
  }
  &__title{
    font-size: 20px;
    color: white;
    flex: 1 30%;
    font-family: $primary-font;
    align-self: flex-start;
    position: relative;
    text-align: center;
  }
  &__tel{
    font-family: $primary-font;
    align-self: center;
    color: white;
    display: block;
    flex: 1 20%;
    font-size: 22px;
    margin-left: auto;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &:hover{
      opacity: 0.8;
      color: white;
      text-decoration: none;
    }
  }
  &__call{
    font-family: $primary-font;
    text-transform: uppercase;
    align-self: center;
    color: white;
    display: block;
    flex: 1 20%;
    font-size: 22px;
    margin-left: auto;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &::before{
      font-family: FontAwesome;
      content: '\f095';
      color: white;
      padding-right: 10px;
      font-weight: 100;
    }
  }

}

