@import './bootstrap';
@import "fonts";
@import "header";
@import "navigation";
@import "main";
@import "modal-form";


.btn{
  background-color: rgb(97, 189, 112);
  border-radius: 5px;
  border: 1px solid rgb(0, 145, 63);
  border-bottom-width: 3px;
  padding: 14px 28px;
  font-family: OpenSansRegular;
  font-size: 18px;
  color: rgb(255, 255, 255);
  /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);*/
  &:hover{
    background-color: rgb(77, 180, 93);
    border-color: rgb(54, 129, 66);
    color: rgb(255, 255, 255);
  }
  &:active{
    background-color: rgb(77, 180, 93);
    border-color: rgb(61, 145, 74);
    border-top-width: 3px;
    border-bottom-width: 1px;
    color: rgb(255, 255, 255);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }

  &--callback{
    margin-left: auto;
    border-width: 2px;
    padding: 10px 25px;
    border-radius: 5px;
    line-height: 20px;
    flex: 1 20%;
  }
}
#app .personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
}
#app .personal-data p {
  font-size: 16px;
  padding: 0;
  display: block;
  line-height: 27px;
  margin-left: 4px;
}
#app .personal-data .form-control {
  height: 18px;
  width: 18px;
}

.free-form{
  display: flex;
  flex-flow: column;
  &__title{
    font-size: 18px;
    margin: 55px 0 25px 0;
  }
  &__notification{
    font-size: 20px;
    color: rgb(54, 129, 66);
    animation: freeNotifAnimation 0.3s 1 linear;
    &--error{
      color: #e53835;
    }
  }
  input[type="text"]{
    width: 96%;
  }
  input[type="email"]{
    width: 96%;
  }
  input[type="button"]{
    width: 30%;
    margin-left: 10px;
  }

  @each $input in (text, button, email){
    input[type="#{$input}"]{
      padding: 27px 12px;
      border-radius: 10px;
      line-height: 20px;
    }
  }
}

/*Scroller*/
.scroller{
  position: fixed;
  top: 45%;
  right: 10%;
  z-index: 9999;
  &__button{
    position: relative;
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &::before{
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      right: calc(50% - 2.5px);
      top: calc(50% - 2.5px);
      background-color: #e53835;
      transition: all 0.3s ease;
    }
    &::after{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      right: calc(50% - 7.5px);
      top: calc(50% - 7.5px);
      border-radius: 50%;
      border: 1px solid rgb(68, 157, 72);
      transition: all 0.3s ease;
      opacity: 0;
    }
    &--active{
      &::before{
        background-color: rgb(68, 157, 72);
      }
      &::after{
        opacity: 1;
      }
    }
  }
}
/**********/

@keyframes freeNotifAnimation {
  from{opacity: 0; height: 0px;}
  to {opacity: 1; height: auto;}
}

@import "mobile-styles";
@import "tablet-styles";